:root {
    --clr--green-btn:#a4c639;
    --clr--green-heading:#accb4b;
    --clr--gray-background:#cfcfcf;
    --clr--black-heading:#1e1e1e;
    --clr--gray-paragraph:#8c8c8c;
}

body {
    text-align: center;
    padding: 5rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 1000px;
}

.services {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    width: 350px;
    margin: 10px;
}

.service-heading {
}

.service-txt {
    color: var(--clr--gray-paragraph);
    margin-bottom: 5rem;
}

.green-text {
    color: var(--clr--green-heading);
}

.service-paragraph {
    color: var(--clr--gray-paragraph);
}

.service-btn{
    background-color: var(--clr--green-btn);
    color: white;
    border-radius: 15px;
    width: 105px;
    height: 30px;
    border: none;
    margin-left: 30px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size:x-small;
}

.service-img {
    width: 100%;
}
