section.gallery {
    display: flex;
    flex-direction: column;
}

body, ul, li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    justify-content: space-between;
    gap: 30px;
    margin: 60px;
}

img {
    /* width: 400px; */
    /* height: 600px; */
    border: 9px solid black;
    /* padding: 10px; */
    /* margin: 10px; */
    /* padding-top: 20px; */
    padding: 40px 40px;
}