body {
    font-family: 'Helvetica, sans-serif';
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}



section {
    display: inline-block;
    width: 720px;
    margin: 20px;
}

.side-section {
   
   margin: 20px;
}

section aside {
    /* display: inline-block; */
   float: left;
}

a{
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    margin: 20px;
}